@font-face {
  font-family: "GeneralSans";
  src: url("assets/fonts/GeneralSans-Bold.ttf") format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "GeneralSans";
  src: url("assets/fonts/GeneralSans-Bold.ttf") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "GeneralSans";
  src: url("assets/fonts/GeneralSans-Bold.ttf") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "GeneralSans";
  src: url("assets/fonts/GeneralSans-Bold.ttf") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "GeneralSans";
  src: url("assets/fonts/GeneralSans-Regular.ttf") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Desktop */
html {
  width: 100vw;
  overflow-x: hidden;
}

.navbar-light .navbar-toggler {
  border-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.navbar-light .navbar-toggler-icon {
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.via {
  display: none !important;
}

body {
  width: 100vw;
  font-family: GeneralSans;
  overflow-x: hidden;
}

.fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.fixed-top.scrolled2 {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

p {
  margin: 0 0 0 0 !important;
}

.redpen {
  font-family: Menco-bold;
}

.home {
  font-size: 2.5rem;
  color: black;
}

.home:hover {
  color: black;
}

#nav-space1 {
  padding-left: 1.5rem;
  padding-right: 1rem;
}

#nav-space2 {
  padding-left: 1.5rem;
  padding-right: 0rem;
}

.bg-img {
  background-image: url('assets/gallery/');
  background-repeat: no-repeat;
  background-position: 100% 0%;
  height: 100vh;
}

.bg-mob {
  display: none;
}

.reg {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 1rem;
  margin-right: 1rem;
  border: 0px solid black;
  color: black !important;
  border-radius: 15px;
  font-family: Menco-med;
}

.faq {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 1rem;
  margin-right: 1rem;
  border: 0px solid #ff2500;
  color: black !important;
  font-size: 1.2rem;
  border-radius: 15px;
  font-family: Menco-med;
}

.faq2 {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 1rem;
  margin-right: 1rem;
  border: 0px solid #ff2500;
  color: black !important;
  font-size: 1.2rem;
  border-radius: 15px;
  font-family: Menco-bold;
}

.acc {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
  border: 1px solid #ff2500;
  color: white !important;
  background-color: #ff2500;
  border-radius: 15px;
}

.pay-off {
  font-size: 4rem;
  line-height: 5rem;
  font-family: GeneralSans;
  color: #0071B9;
}

.sub-off {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-family: GeneralSans;
}

.text {
  font-family: Cal-reg;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ff2500;
  color: white;
}

.sec1 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ff2500;
  color: white;
}

.sc1 {
  margin-right: 5rem;
  margin-left: 5rem;
}

.sec1-text {
  font-size: 2.5rem;
  line-height: 3rem;
  font-family: Cal-reg;
}

.scr {
  border: 1px solid white;
  color: #ff2500 !important;
  background-color: white;
  border-radius: 15px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5rem;
}

#scr1 {
  text-align: center;
}

#scr2 {
  text-align: center;
  font-family: Cal-reg;
}

.text1 {
  font-family: Cal-reg;
  font-size: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ff2500;
  color: white;
}

.padd {
  padding-top: 8rem;
}

.padd2 {
  padding-top: 3rem;
}

.padd3 {
  padding-top: 3rem;
  padding-bottom: 8rem;
}

.padd4 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.padd5 {
  padding-top: 8rem;
  padding-bottom: 3rem;
}

.padd6 {
  padding-top: 15rem;
}

.video {
  width: 75%;
}

.title {
  font-size: 2rem;
}

.text2 {
  font-family: Cal-sbold;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

.card1 {
  background-color: white;
}

.l-card {
  padding-left: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.r-card {
  padding-left: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.title1 {
  font-family: Cal-sbold;
  font-size: 3rem;
  line-height: 3rem;
}

.forwho {
  font-size: 1.8rem;
  font-family: Cal-Thin;
}

.text-card {
  font-family: Cal-reg;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.text-faq {
  font-family: Cal-reg;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.text-ill {
  font-family: Cal-reg;
  font-size: 1.8rem;
  line-height: 1.8rem;
  text-align: center;
}

.immagine {
  height: 300px;
}

.bx-sw {
  box-shadow: 0 5px 10px rgba(255, 187, 35, 0.25);
}

.text-card2 {
  font-family: Cal-reg;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.faq-title {
  font-family: Cal-sbold;
  font-size: 3.5rem;
}

.acc-title {
  font-family: Cal-sbold;
  font-size: 1.5rem;
}

.acc-text {
  font-family: Cal-reg;
  font-size: 1.5rem;
}

.acc-bg {
  background-color: #FFF7E0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.foot {
  color: white;
  font-family: Cal-reg;
}

.bg-foot {
  background-color: #ff2500;
}

.img-foot {
  width: 300px;
}

.img-prima {
  height: 500px;
  transform: scale(1);
}

.img-prima1 {
  height: 500px;
  transform: scale(0.9);
}

.margin-card {
  margin-right: 10rem;
  margin-left: 10rem;
}

.faqq {
  border-radius: 25px;
  background-color: #ffbe26;
  color: white;
  font-family: Cal-sbold;
}

.text-name {
  font-family: Cal-reg;
  font-size: 1.2rem;
  text-align: center;
}
.accedi-mob{
  display:none;
}

.uk-subnav-pill>.uk-active>a {
    background-color: #ff2500;
    color: #fff;
}

/* iphone */
@media only screen and (max-width: 414px) {
  .home {
    font-size: 2rem;
    margin-left: 0 !important;
    color: black;
  }

  .navbar {
    background-color: white;
  }

  .via {
    display: flex !important;
  }

  .margin-mob {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .bg-img {
    background-image: url('');
    height: auto;
    padding-top: 15vh;
  }

  .bg-mob {
    display: none;
  }

  .sub-off {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: Cal-reg;
  }

  .sec1-text {
    font-size: 2rem;
    text-align: center;
    line-height: 2rem;
    font-family: Cal-reg;
  }

  .sec1-butt {
    display: flex;
    justify-content: center !important;
    padding-top: 3rem;
  }

  .sec1 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ff2500;
    color: white;
  }

  .padd-mob {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .text-ill {
    font-family: Cal-reg;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
  }

  .faq-title {
    font-family: Cal-sbold;
    font-size: 3rem;
    text-align: center;
  }

  .title1 {
    font-size: 2rem;
    line-height: 2.1rem;
  }

  .mob-align {
    text-align: center !important;
  }

  .mob-align2 {
    text-align: center !important;
  }

  .forwho {
    font-size: 1.2rem;
  }

  .text-card {
    font-family: Cal-reg;
    font-size: 1.2rem;
    line-height: 1rem;
  }

  .card-cent {
    width: auto !important;
  }

  .img-prima {
    height: 250px;
    transform: scale(1);
  }

  .img-prima1 {
    height: 250px;
    transform: scale(0.9);
  }

  .margin-card {
    margin-right: 0rem;
    margin-left: 0rem;
  }
  .accedi-desk{
    display:none;
  }.accedi-mob{
    display:flex;
  }
}

/* ipad */
@media only screen and (max-width: 768px) {
  .home {
    font-size: 2rem;
    margin-left: 0 !important;
    color: black;
  }

  .navbar {
    background-color: white;
  }

  .via {
    display: flex !important;
  }

  .margin-mob {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .bg-img {
    background-image: url('');
    height: auto;
    padding-top: 15vh;
  }

  .bg-mob {
    display: none;
  }

  .sub-off {
    font-size: 2rem;
    line-height: 1.8rem;
    font-family: Cal-reg;
  }

  .tab-align {
    justify-content: center;
  }

  .sec1-text {
    font-size: 2rem;
    text-align: center;
    line-height: 2rem;
    font-family: Cal-reg;
  }

  .sec1-butt {
    display: flex;
    justify-content: center !important;
    padding-top: 3rem;
  }

  .sec1 {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ff2500;
    color: white;
  }

  .padd-mob {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .text-ill {
    font-family: Cal-reg;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
  }

  .faq-title {
    font-family: Cal-sbold;
    font-size: 3rem;
    text-align: center;
  }

  .title1 {
    font-size: 2rem;
    line-height: 2.1rem;
  }

  .mob-align {
    text-align: center !important;
  }

  .forwho {
    font-size: 1.2rem;
  }

  .text-card {
    font-family: Cal-reg;
    font-size: 1.2rem;
    line-height: 1rem;
  }

  .card-cent {
    width: auto !important;
  }

  .text-faq {
    font-family: Cal-reg;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-align: justify;
  }

  .padd6 {
    padding-top: 5rem;
  }

  .margin-card {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .img-prima {
    height: 250px;
    transform: scale(1);
  }

  .img-prima1 {
    height: 250px;
    transform: scale(0.9);
  }
}
